.mainpage__contacts-bgwrapper {
    background-image: linear-gradient(to bottom, #282828, rgb(26, 43, 39));
}

.mainpage__contacts-title {
    text-align: center;
    margin: 0px auto;
    color: $green;
    font-family: $font-family;
    font-size: 42px;
    font-weight: 600;
    padding: 20px;
    margin-bottom: 50px;
}

.mainpage__contacts {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts__wa-link {
    display: flex;
    height: 55px;
    width: 250px;
    & p {
        margin-top: 18px;
        transition: all 0.3s;
        color: aliceblue;
    }
    & img {
        filter: none;
        transition: all 0.3s;
    }
    &:hover {
        cursor: pointer;
        & p {
            transition: all 0.3s;
            color: #23D896;
        }
        & img {
            filter: brightness(1.15);
            box-shadow: 3px 3px 25px #23D896;
        }
    }
}

.mainpage__contacts-text {
    color: white;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 200;
    z-index: 99;
}

.mainpage__contacts-text-title {
    color: white;
    font-family: $font-family;
    font-size: 48px;
    font-weight: 200;
    text-align: left;
}

.mainpage__contacts-text-subtitle {
    color: white;
    font-family: $font-family;
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    line-height: 46px;
    height: 90px;
}

.mainpage__contacts-inputs {
    z-index: 99;
    & input {
        display: block;
        margin-top: 20px !important;
        z-index: 99 !important;
    }
}

.form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: "Julius Sans One", sans-serif;
    color: $green;
    outline: 0;
    transition: 0.2s;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 218px;
}

.form-field:focus {
    border-color: rgba(#23D896, 0.7);
}

.contacts__tel {
    text-decoration: none;
    display: block;
    color: #23D896;
    font-weight: 600;
    margin-bottom: 15px;
    width: 100%;
    transition: all 0.3s ease-out;
    &:hover {
        transition: all 0.3s ease-in;
        text-decoration: none;
        color: rgb(199, 252, 227);
    }
}

.terms {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    z-index: 99;
    & input {
        margin-top: 21px;
        z-index: 99;
    }
}

#sendNew {
    margin-top: 20px;
    z-index: 99;
}

#sendNew:disabled {
    cursor: not-allowed;
    color: rgb(199, 199, 199);
    background: rgb(209, 209, 209);
    opacity: 0.3;
}

.private-policy {
    border: none;
    width: 100%;
    padding: 10px;
    max-width: 250px;
    font-family: Raleway;
    font-weight: 200;
    font-size: 12px;
    line-height: unset;
    text-decoration: none;
    color: rgb(247, 247, 247);
    z-index: 99;
    &:hover {
        border-top: unset;
        border-bottom: unset;
    }
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: unset !important;
    left: unset !important;
}

.mainpage__contacts-inputs input {
    display: block;
    margin-top: 30px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea.materialize-textarea {
    border-bottom: 2px solid $green !important;
}