    .mainpage__contacts-bgwrapper {
        background-color: #384D58;
    }
    
    .mainpage__contacts-title {
        text-align: center;
        margin: 0 auto;
    }
    
    .mainpage__contacts {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .mainpage__contacts-text {}
    
    .mainpage__contacts-text-title {
        text-align: left;
    }
    
    .mainpage__contacts-text-subtitle {}
    
    .mainpage__contacts-inputs {
        & input {
            display: block;
        }
    }