@import '_variables.scss';
.header {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 100px;
}

.header__nav {
    width: 560px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 99;
}

.header__nav-item {
    text-decoration: none;
    color: rgb(243, 243, 243);
    font-family: $font-family;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    transform: scale(1);
    transition: all 0.4s;
    border-bottom: 2px solid rgba(131, 255, 183, 0);
    &:hover {
        transition: all 0.4s;
        color: $green;
        transform: scale(1.2);
        border-bottom: 2px solid rgba(131, 255, 183, 1);
        text-decoration: none;
    }
}

.header__contacts {
    display: flex;
    width: 100%;
    max-width: 480px;
    justify-content: space-between;
}

.header__contacts-item p {
    color: black;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 400;
}

.header__contacts-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    img {
        padding-right: 10px;
    }
    &:hover {
        color: black;
    }
}

@media screen and (max-width: 1280px) {
    .desktop-nav {
        display: none;
    }
    .header {
        width: 600px;
    }
    .header__nav {
        width: 80px;
        padding: 10px;
    }
    .nav-toggle {
        display: block !important;
    }
}

@media screen and (max-width: 610px) {
    .header__logo {
        max-width: 350px;
    }
    .nav-toggle {
        top: 72px !important;
    }
}

@media screen and (max-width: 420px) {
    .header__contacts {
        display: none !important;
    }
    .header {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        width: 280px;
    }
    .header__logo {
        font-size: 25px !important;
    }
    .nav-toggle {
        top: 30px !important;
        right: 15px !important;
    }
}

@media screen and (max-width: 320px) {
    .nav-toggle {
        top: 50px !important;
        right: 15px !important;
    }
}