.page {
    width: 100%;
    max-width: 1920px;
    height: 5000px;
    background: #303E46;
}

.bgwrapper {
    background: url(src/img/mainpagebg1.png);
    background-repeat: no-repeat;
    background-position: calc(100vw - 44vw);
}

.mainpage__wrapper {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.mainpage__title {
    width: 100%;
    max-width: 400px;
}

.mainpage__secondsection {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 250px;
}