.page {
    width: 100%;
    max-width: 1903px;
    background: #303E46;
}

.bgwrapper {
    background: url(src/img/mainpagebg1.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-bottom: 20px;
    margin-bottom: 150px;
}

.mainpage__wrapper {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.mainpage__title {
    margin-top: 100px;
    width: 100%;
    max-width: 460px;
    color: white;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 300 !important;
}

.mainpage__mainimg {
    margin-top: 50px;
    padding-right: 10px;
}

.img2 {
    margin-top: 14px !important;
}

.img3 {
    margin-top: 12px !important;
}

h2 {
    text-align: center;
    color: white;
    font-family: $font-family;
    font-weight: 300;
    font-size: 24px;
}

.mainpage__secondsection {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 250px;
}

.mainpage__secondsection-item {
    width: 100%;
    max-width: 250px;
    & img {
        width: 86px;
        display: block;
        margin: 0 auto;
    }
    & p {
        width: 145px;
        margin: 0 auto;
        text-align: center;
        color: white;
        font-family: $font-family;
        font-weight: 200;
        font-size: 18px;
    }
}

.main-button:hover {
    transition: all 0.7s;
    cursor: pointer;
    color: black;
}

button {
    width: 250px;
    height: 40px;
    background: linear-gradient(rgba(138, 160, 211, 1), rgba(159, 222, 255, 1));
    border: none;
    border-radius: 10px;
    color: white;
    font-family: $font-family !important;
    font-weight: 500;
    font-size: 18px !important;
    transition: all 0.7s;
    cursor: pointer;
    &:hover {
        transition: all 0.7s;
        background: white;
        color: black;
    }
}

.animation {
    animation-name: move;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.a1 {
    animation-delay: 0.5s;
}

.a2 {
    animation-delay: 0.6s;
}

.a3 {
    animation-delay: 0.7s;
}

.a4 {
    animation-delay: 0.8s;
}

.a5 {
    animation-delay: 0.9s;
}

.a6 {
    animation-delay: 1s;
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        padding: 5px;
        width: 440px;
    }
}

@media screen and (max-width: 1280px) {
    .bgwrapper {
        background-size: 50%;
    }
    .header__contacts-item p {
        font-weight: 400;
    }
    .mainpage__title {
        margin: 0 auto;
        margin-top: 80px;
    }
    .mainpage__mainimg {
        margin: 0 auto;
        margin-top: 50px;
    }
    .mainpage__services-card {
        margin-bottom: 100px !important;
    }
    .mainpage__contacts-text {
        width: 100%;
        max-width: 600px;
    }
    .mainpage__contacts {
        box-sizing: border-box;
        padding: 10px;
    }
    .mainpage__secondsection-item {
        margin: 0 auto;
    }
    .mainpage__process-cardswrapper {
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    .header__contacts {
        display: block;
        margin: 0 auto;
        width: unset;
    }
    .mainpage__process-cardswrapper {
        margin-bottom: 10px !important;
    }
    .mainpage__contacts-text {
        margin: 0 auto;
    }
    .mainpage__contacts-inputs {
        margin: 0 auto;
    }
}