.page {
    width: 100%;
    max-width: 1903px;
    height: 5000px;
    background: #303E46;
}

.bgwrapper {
    background: url(src/img/mainpagebg1.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-bottom: 20px;
    margin-bottom: 150px;
}

.mainpage__wrapper {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.mainpage__title {
    width: 100%;
    max-width: 400px;
}

.mainpage__secondsection {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 250px;
}

.mainpage__secondsection-item {
    width: 100%;
    max-width: 250px;
    & img {
        width: 86px;
        display: block;
        margin: 0 auto;
    }
}