.mainpage__reviews-card {
    position: absolute;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background-color: #384D58;
    box-shadow: 0px 0px 10px 0px rgba(#0AAFAA, .36);
}

.mainpage__reviews-card-img {
    position: relative;
    top: 0%;
}